<img id="profilePhoto" src='<%= current_user.profile_photo %>'>
<h4 class="zeroMarginBottom"><%= current_user.name %></h4>
<p class="zeroMargin lightGreyText">@<%= current_user.handle %></p>
<p><%= current_user.bio %></p>
