.centerText{
  text-align: center;
}
.thinFont {
  font-weight: 200;
}
.sideMargin15 {
  margin: 0 15px;
}

.announcementBox {
  background-color: white;
  text-align: center;
  width: 100%;
  min-height: 400px;
  border-radius: 25px;
  padding: 30px;
  margin: 50px 0;
}
.lightGreyText {
  color: #8899a6;
}
.zeroMargin {
  margin: 0;
}
.zeroMarginBottom {
  margin-bottom: 0;
}
#profileMain {
  margin-top: 150px;
}

#statsCounter {
  border-top: 1px solid #8899a6;
  border-bottom: 1px solid #8899a6;
  height: 70px;
  padding: 10px;
}
.timelinePhoto {
  width: 50px;
  height: 50px;
  margin: 18px 10px 10px 0;
}
.width80 {
  width: 80%
}

.timelineTweetText{
  width: 100%;
  border-bottom: 1px solid #8899a6;
}
#profileSidebar {
  width: 30%;
  margin-right: 5%;
}
#profilePhoto {
  background-color: white;
  width: 200px;
  height: 202px;
  border-radius: 25px;
  margin: 50px 50px 0 0;
}

.marginTop50 {
  margin-top: 50px;
}

.marginBottom50 {
  margin-bottom: 50px;
}
.padding5 {
  padding: 5px;
}
