<div class="row">
  <div class="col s4">
    <%= render partial: 'shared/user_info' %>
  </div>

  <div class="col s7 offset-s1" id="profileMain">
    <%= render partial: 'shared/tweet_form' %>
    <%= render partial: 'shared/stats' %>
    <%= render partial: 'shared/timeline' %>
  </div>
</div>
